<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="<?php echo RES_PATH;?>/css/style.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo RES_PATH;?>/js/jquery.js" type="text/javascript" ></script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
        </ul>
    </div>
    <div class="mainindex">
        
        <div class="welinfo">
            <span>
                <img src="<?php echo RES_PATH;?>/images/time.png" /></span> <i><?php echo $Message; ?> </i>
        </div>
        <div class="xline">
        </div>
    </div>
</body>
</html>
