 <?php include(VIEWS.'/common/header.html'); ?>
<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});
    });
    </script>
<form name="form1" method="post">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>
          <a href="admin.php?c=index&a=right">首页</a></li>
		  <li><a href="javascript:;">老年大学</a></li>
		  <li><a href="admin.php?c=teacher">教师管理</a></li>

        <li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>

        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>教师管理</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    教师姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /> <input value="搜索" name="name" type="button" id="name" class="dfinput"  />  </li>
			<li>
                <label>
                    待选列表:</label>
                <div class="vocation">
<select name="status" id="status">
	<option value="">张三</option>
	<option value="">张三2</option>
	<option value="">张三3</option>
	
</select>
                </div>
            </li>

            <li>
                <label>
                    教师电话:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput" /></li>
            <li>
                <label>
                    身份类别:</label><input value="<?php echo $info['identity'];?>" name="identity" type="text" id="identity" class="dfinput" /></li>
            <li>
                <label>
                    资质证书:</label><input value="<?php echo $info['certificate'];?>" name="certificate" type="text" id="certificate" class="dfinput" /></li>
            <li>
                <label>
                    合同开始时间:</label>
				<input name="agreement_begin" type="text" id="agreement_begin" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['agreement_begin']>0? date('Y-m-d',$info['agreement_begin']) : '';?>" class="dfinput" />
			</li>
            <li>
                <label>
                    合同结束时间:</label>
				<input name="agreement_end" type="text" id="agreement_end" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['agreement_end']>0? date('Y-m-d',$info['agreement_end']) : '';?>" class="dfinput" />
			</li>
            
            <?php if($id>0){?>
            <li>
                <label>
                    是否有效:</label>
                <div class="vocation">
<select name="status" id="status">
	<option value="">请选择</option>
	<option value="1" <?php if($info['status'] == 1){echo 'selected';}?>>有效</option>
	<option value="2" <?php if($info['status'] == 2){echo 'selected';}?>>无效</option>
</select>
                </div>
            </li>
			<?php }?>
            
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写教师姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=teacher&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=teacher&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>
