<?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});

		
    });
    </script>

 
    <form name="form1" method="post" >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="#">健康咨询</a></li>
            <li><a href="admin.php?c=healthAdvice">咨询记录</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>

        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>咨询记录</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    客户姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /></li>
            <li>
                <label>
                    手机号:</label><input value="<?php echo $info['mobile'];?>"  name="mobile" type="text" id="mobile" class="dfinput" /></li>
            <li>
                <label>
                    咨询类别:</label>
					<input value="<?php echo $info['ask_type'];?>" name="ask_type" type="text" id="ask_type" class="dfinput" /></li>
            <li>
                <label>
                    咨询事由:</label><input value="<?php echo $info['ask_cause'];?>" name="ask_cause" type="text" id="ask_cause" class="dfinput" /></li>
            <li>
                <label>
                    咨询时间:</label><input value="<?php echo $info['ask_time'];?>" name="ask_time" type="text" id="ask_time" class="dfinput" /></li>
            <li>
                <label>
                    健康咨询师:</label>
					<div class="vocation">
                    <select name="worker_id" id="worker_id">
                      <option value="">请选择</option>
					  <?php 
						foreach($healths as $key => $item){
					  ?>
                      <option value="<?php echo $key;?>" <?php if($info['worker_id'] == $key){echo 'selected';}?>><?php echo $item;?></option>
					  <?php 
						}
					  ?>
                    </select>
                 </div>
			</li>
            <li>
            <li>
                <label>
                    咨询结果:</label><input value="<?php echo $info['ask_result'];?>" name="ask_result" type="text" id="ask_result" class="dfinput" /></li>
            <li>
                <label>
                    咨询次数:</label><input value="<?php echo $info['ask_num'];?>" name="ask_num" type="text" id="ask_num" class="dfinput" /></li>
            <li>
                            <label>
                                是否满意:</label>
                            <div class="vocation">
                                <select id="satisfy" name="satisfy">
                                    <option value="">请选择</option>
                                    <option value="A" <?php if($info['satisfy'] == 'A'){echo 'selected';}?>>满意</option>
                                    <option value="B" <?php if($info['satisfy'] == 'B'){echo 'selected';}?>>不满意</option>
                                </select>
                            </div>
                        </li>
            
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写客户姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=healthAdvice&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=healthAdvice&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>