<?php include(VIEWS.'/common/header.html'); ?>
<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});
    });
    </script>
 
    <form name="form1" method="post"  >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="javascript:;">文化娱乐</a></li>
            <li><a href="admin.php?c=cultureArt">艺术团管理</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>艺术团管理</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    艺术团名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  />
				<i><b>*</b></i>
			</li>
            <li>
                <label>
                    团队人数:</label><input value="<?php echo $info['people_num'];?>" name="people_num" type="text" id="people_num" class="dfinput" /></li>
            <li>
                <label>
                    所属类别:</label>
<div class="vocation">
<select name="type_id" id="type_id">
	<option value="">请选择</option>
					<?php 
						foreach($types as $key => $name){
					  ?>
                      <option value="<?php echo $key;?>" <?php if($info['type_id'] == $key){echo 'selected';}?>><?php echo $name;?></option>
					  <?php 
						}
					  ?>
</select>
                </div>
				</li>
            <li>
                <label>
                    所属单位:</label><input value="<?php echo $info['company'];?>" name="company" type="text" id="company" class="dfinput" /></li>
            <li>
                <label>
                    团长姓名:</label><input value="<?php echo $info['leader'];?>" name="leader" type="text" id="leader" class="dfinput" /></li>
			<?php if($id>0){?>
            <li>
                <label>
                    加入时间:</label><input disabled value="<?php echo date('Y-m-d',$info['dateline']);?>"   type="text"   class="dfinput" /></li>
			<?php }?>
            <li>
            <li>
                <label>
                    负责人:</label><input value="<?php echo $info['charge'];?>" name="charge" type="text" id="charge" class="dfinput" /></li>
			<li>
                <label>
                    负责人电话:</label><input value="<?php echo $info['chargemobile'];?>" name="chargemobile" type="text" id="chargemobile" class="dfinput" /></li>

            <?php if($id>0){?>
            <li>
                <label>
                    是否有效:</label>
                <div class="vocation">
<select name="status" id="status">
	<option value="">请选择</option>
	<option value="1" <?php if($info['status'] == 1){echo 'selected';}?>>有效</option>
	<option value="2" <?php if($info['status'] == 2){echo 'selected';}?>>无效</option>
</select>
                </div>
            </li>
			<?php }?>
            
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
   <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写艺术团名!");
		$("#name").focus();
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=cultureArt&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=cultureArt&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
 <?php include(VIEWS.'/common/footer.html'); ?>