 <?php include(VIEWS.'/common/header.html'); ?>
<script type="text/javascript">
    $(document).ready(function(e) {
	    $("#status").uedSelect({
		    width : 232  
	    });
	$("#art_id").uedSelect({
		    width : 232  
	    });
	$("#type_id").uedSelect({
		    width : 232  
	    });
	 });
    </script>

 
    <form name="form1" method="post"  >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="#">文化娱乐</a></li>
            <li><a href="admin.php?c=cultureMember">团员管理</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>艺术团团员管理</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    团员姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /></li>
            <li>
                <label>
                    团员电话:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput" /></li>
			<li>
                <label>
                    性别:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput" /></li>
			<li>
                <label>
                    年龄:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput" /></li>
            <li>
                <label>
                    所属艺术团:</label>
                <div class="vocation">
                    <select name="art_id" id="art_id">
                      <option value="">请选择</option>
					  <?php 
						foreach($arts as $key => $item){
					  ?>
                      <option value="<?php echo $key;?>" <?php if($info['art_id'] == $key){echo 'selected';}?>><?php echo $item;?></option>
					  <?php 
						}
					  ?>
                    </select>
                 </div></li>
            
            <?php if($id>0){?>
            <li>
                <label>
                    加入时间:</label><input disabled value="<?php echo date('Y-m-d',$info['dateline']);?>"   type="text"   class="dfinput" /></li>
			<?php }?>

            <?php if($id>0){?>
            <li>
                <label>
                    是否有效:</label>
                <div class="vocation">
<select name="status" id="status">
	<option value="">请选择</option>
	<option value="1" <?php if($info['status'] == 1){echo 'selected';}?>>有效</option>
	<option value="2" <?php if($info['status'] == 2){echo 'selected';}?>>无效</option>
</select>
                </div>
            </li>
			<?php }?>
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写团员姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=cultureMember&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=cultureMember&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
 <?php include(VIEWS.'/common/footer.html'); ?>