<?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});
    });
    </script>
 
    <form name="form1" method="post"  >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="javascript:;">文化娱乐</a></li>
            <li><a href="admin.php?c=cultureType">类别管理</a></li>
		  <li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>类别管理</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    类别名称:</label><input name="name" value="<?php echo $info['name'];?>" type="text" id="name" class="dfinput" /></li>
            <!--<li>
                <label>
                    特长编号:</label><input value="<?php echo $info['type_no'];?>" name="type_no" type="text" id="type_no" class="dfinput" /></li>-->
            
            <li style="margin-top:10px;">
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写特长名称!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=cultureType&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=cultureType&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
 <?php include(VIEWS.'/common/footer.html'); ?>