<?php include(VIEWS.'/common/header.html'); ?>
<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({
		    width : 232  
	    });
    });
    </script>
 <form name="form1" method="post" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="admin.php?c=difficulty">特困服务管理</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>

        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>特困服务登记</span></div>
        <ul class="forminfo">
        <table>
                <tr>
                    <td>
                        <li>
                            <label>
                    姓名:</label><input name="name"  value="<?php echo $info['name'];?>" type="text" id="name" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                    手机号:</label><input name="mobile" value="<?php echo $info['mobile'];?>" type="text" id="login_name" class="mobile"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                                地址:</label><input value="<?php echo $info['address'];?>" name="address" type="text" id="address" class="dfinput" /></li>
                    </td>
                </tr>
         </table>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>服务信息</span></div>
        <ul class="forminfo">
        <table>
                <tr>
                    <td>
                        <li>
                            <label>项目类别:</label>
					<div class="vocation">
                    <select name="type_id" id="one_select">
                      <option value="">请选择</option>
                       
					</select>
                  </div>
					</li>
                    </td>
                    <td>
                        <li>
                            <label>
                   所属服务商:</label>
					<div class="vocation">
                    <select name="service_id" id="two_select" onchange="changeService(this);">
                      <option value="">请选择</option>
                      
					</select>
                  </div>
					</li>
                    </td>
                    <td>
                        <li>
                            <label>
                   服务说明:</label><input value="<?php echo $info['content'];?>" name="content" type="text" id="content" class="dfinput"  /></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>
                            <label>
                    金额:</label><input value="<?php echo $info['money'];?>" name="money" type="text" id="login_name" class="dfinput"  /></li>
                    </td>
                     
                    <td>
                        <li>
                            <label>
                                备注:</label><input value="<?php echo $info['memo'];?>" name="memo" type="text" id="memo" class="dfinput" /></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>
                            <label>
                    开始时间:</label>
					<input name="begin_time" type="text" id="begin_time" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['begin_time']>0? date('Y-m-d',$info['begin_time']) : '';?>" class="dfinput" /></li>
                    </td>
                    <td>
                        <li>
                            <label>结束时间:</label>
                        <input name="end_time" type="text" id="end_time" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['end_time']>0? date('Y-m-d',$info['end_time']) : '';?>" class="dfinput" />        
						</li>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>
                    <li><label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li></td>
                    <td></td>
                    <td></td>
                </tr>
         </table>
         
         
                
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=difficulty&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=difficulty&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});


//服务商与项目类别 二级联动
var one_two_datas = <?php echo json_encode($oneAndTwo); ?>;

var now_one_id = <?php echo intval($info['type_id']);?>;
var now_two_id = <?php echo intval($info['service_id']);?>;

var oneobj = $("#one_select");
var twoobj = $("#two_select");

$(document).ready(function(e) {
	
	oneobj.on("change",function(){
		oneChange(oneobj, twoobj);
		oneobj.uedSelect('setOption');
		twoobj.uedSelect('setOption');
		$("#service_no").val("");
	});
	setOne(oneobj, twoobj);
	oneobj.uedSelect('setOption');
	twoobj.uedSelect('setOption');
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>