<?php include(VIEWS.'/common/header.html'); ?>
<style>
.forminfo li{width: 570px;}
</style>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});
    });
    </script>


    <form name="form1" method="post">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>
          <a href="admin.php?c=index&a=right">首页</a></li>
		  <li>
          <a href="javascript:;">老年大学</a></li>
		  <li><a href="admin.php?c=course">课程管理</a></li>

        <li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>课程安排</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    课程名称:</label>
					<input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput" />
					<i><b>*</b></i>
			</li>
            <li>
                <label>
                    课时:</label>
					<input value="<?php echo $info['lesson'];?>" name="lesson" type="text" id="lesson" class="dfinput" /></li>
            <li>
                <label>
                    任课老师:</label>
                <div class="vocation">
                    <select name="worker_id" id="worker_id">
                      <option value="">请选择</option>
					  <?php 
						foreach($teachers as $key => $name){
					  ?>
                      <option value="<?php echo $key;?>" <?php if($info['worker_id'] == $key){echo 'selected';}?>><?php echo $name;?></option>
					  <?php 
						}
					  ?>
                    </select>
                 </div><i><b>*<a href="admin.php?c=worker&a=add&from=<?php echo $pagecode;?>">（增加任课老师）</a></b></i></li>
            <li>
                <label>
                    说明:</label>
					<input value="<?php echo $info['content'];?>" name="content" type="text" id="content" class="dfinput" /></li>
            <li>
                <label>
                    开学时间:</label>
					<input name="begintime" type="text" id="begintime" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['begintime']>0? date('Y-m-d',$info['begintime']) : '';?>" class="dfinput" />
					</li>
            <li>
                <label>
                    结束时间:</label>
					<input name="endtime" type="text" id="endtime" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['endtime']>0? date('Y-m-d',$info['endtime']) : '';?>" class="dfinput" />
					</li>
           <?php if($id>0){?>
            <li>
                <label>
                    是否有效:</label>
                <div class="vocation">
<select name="status" id="status">
	<option value="">请选择</option>
	<option value="1" <?php if($info['status'] == 1){echo 'selected';}?>>有效</option>
	<option value="2" <?php if($info['status'] == 2){echo 'selected';}?>>无效</option>
</select>
                </div>
            </li>
			<?php }?>
            
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写课程名称!");
		$("#classes").focus();
		return;
	}

	if(!data['worker_id'] || data['worker_id'] == ''){
		alert("请选择任课老师!");
		$("#worker_id").focus();
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=course&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=course&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>