<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="<?php echo RES_PATH;?>/css/style.css" rel="stylesheet" type="text/css" />
<body>
     
 
    <div class="footer">
    <span>国家战略 国家公益 人人敬老 人人有责</span>
    <i>版权所有 深圳人人敬养老服务有限公司</i>    
    </div>  

 </body>
</html>
