<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
  </head>

  <frameset rows="130,*,31" cols="*" id="mainFrame" name="frameset1" frameborder="no" border="0" framespacing="0">
    <frame src="admin.php?c=index&a=top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset cols="187,*" id="bodyFrame" name="frameset2" frameborder="no" border="0" framespacing="0">
      <frame src="admin.php?c=index&a=left" name="leftFrame"   noresize="noresize" title="leftFrame"  />
      <frameset rows="*,0" cols="*" frameborder="no" border="0" framespacing="0">
        <frame src="admin.php?c=index&a=right" name="rightFrame"   title="rightFrame" />
        <!--<frame src="admin.php?c=index&a=yqtell" name="rightFrame2" id="rightFrame1" title="rightFrame" />-->
	   
	  </frameset>
    </frameset>
    <frame src="admin.php?c=index&a=bottom" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" title="bottomFrame" />
	</frameset>
	
  <noframes>
    
    <body></body>
  </noframes>

</html>