<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="<?php echo RES_PATH;?>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo RES_PATH;?>/js/jquery-1.8.3.min.js"></script>
<style>
    #league{
        color:#f00;
        font-weight: bolder;
    }
</style>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
        </ul>
    </div>
    <div class="mainindex">
        <div class="welinfo">
            <span>
                <img src="<?php echo RES_PATH;?>/images/sun.png" alt="天气" /></span><b id="name"></b>
            <a href="admin.php?c=admin&a=edit">帐号设置</a>
        </div>
        <div class="welinfo">
            <span>
                <img src="<?php echo RES_PATH;?>/images/time.png" alt="时间" /></span> <i id="loginTime">您本次登录的时间：<?php echo date('Y-m-d H:i:s', $admininfo['last_login']);?></i>
        </div>
        <div class="xline">
        </div>
        <?php if($admininfo[admin_name] === "test"){echo '<div class="welinfo"><span><img src="'.RES_PATH.'/images/time.png" alt="时间" /></span><p id="league">了解更多，请加盟我们！</p></div>';}?>
    </div>
    
<?php //print_r($admininfo);?>
<?php include(VIEWS.'/common/footer.html'); ?>

<script language="javascript">
    var brandTag = self.parent.window.location.search.substring(1).replace(/\s+/g, ""),
            brandJsonUrl = '<?php echo RES_PATH;?>/json/brand.js',
            brandObj = getBrandObj(brandJsonUrl);

    window.onload = function() {
        judgeBrand();
    };


    function judgeBrand() {
        if (brandTag.length != 0 && brandObj[0][brandTag]) {
        } else {
            brandTag = 'wlsd';
        }

        var title = brandObj[0][brandTag].name +
                        brandObj[0][brandTag].type + " " +
                        brandObj[0][brandTag].description,
                group = brandObj[0][brandTag].name +
                        brandObj[0][brandTag].type +
                        brandObj[0][brandTag].group,
                copyRight = brandObj[0][brandTag].copyRight + " " +
                            brandObj[0][brandTag].name +
                            brandObj[0][brandTag].type,
                slogan = brandObj[0][brandTag].mainSlogan + " " +
                         brandObj[0][brandTag].slogan;
        document.getElementById("name").innerHTML = "欢迎使用 " + title;
    }

    function getBrandObj(url) {
        return JSON.parse($.ajax({ url: url, async: false }).responseText);
    }

</script>

