 <?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({
		    width : 232  
	    });
		$("#service").uedSelect({
		    width : 100  
	    });
    });
    </script>
 
    <form name="form1" method="post" >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">

			<li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="admin.php?c=kongchao">空巢老人管理</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>

        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>空巢老人登记</span></div>
        <ul class="forminfo">
        <table>
                <tr>
                    <td>
                        <li>
                            <label>
                    姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                    手机号:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                    地址:</label><input value="<?php echo $info['address'];?>" name="address" type="text" id="address" class="dfinput" /></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>
                            <label>
                    民族:</label><input value="<?php echo $info['nation'];?>" name="nation" type="text" id="nation" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                                出生年月:</label>
						<input name="birthday" onClick="WdatePicker({ dateFmt: 'yyyy/MM', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['birthY']>0 ? ($info['birthY'] . '/' . $info['birthM']) : ''; ?>" id="birthday" class="dfinput" />
						</li>
                    </td>

					<td>
                        <li>
                            <label>
                    性别:</label>
					<div class="vocation">
                    <select name="select_sex" id="select_sex">
                      <option value="">请选择</option>
                      <option value="1" <?php if($info['select_sex'] == 1){echo 'selected';}?>>男</option>
                      <option value="2" <?php if($info['select_sex'] == 2){echo 'selected';}?>>女</option>
					</select>
                  </div>
				  </li>
                    </td>
                </tr>
                 
                 
         </table>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
          <span>空巢老人现状（按实际情况填写）</span></div>
        <ul class="forminfo">
            <table>
                <tr>
                    <td>
                        <li>
                            <label>
                                精神心理:</label>
						<input value="<?php echo $info['jingshen'];?>" name="jingshen" type="text"   class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                                子女赡养:</label>
						<input value="<?php echo $info['child'];?>" name="child" type="text" " class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                                特长爱好:</label>
						<input value="<?php echo $info['techang'];?>" name="techang" type="text"   class="dfinput"  /></li>
                    </td>
                </tr>
                <tr>
                    <td>
                         <li>
                            <label>
                                经济来源:</label>
                            <div class="vocation">
                                <select name="jingji">
                                    <option value="">请选择</option>
                                    <option value="jiaren" <?php if($info['jingji'] == 'jiaren'){echo 'selected';}?>>由其他家人负担</option>
                                    <option value="tuixiufee" <?php if($info['jingji'] == 'tuixiufee'){echo 'selected';}?>>有退休费</option>
                                    <option value="gongzuo" <?php if($info['jingji'] == 'gongzuo'){echo 'selected';}?>>工作酬劳</option>
                                    <option value="jixu" <?php if($info['jingji'] == 'jixu'){echo 'selected';}?>>自己积蓄负担</option>
                                    <option value="qita" <?php if($info['jingji'] == 'qita'){echo 'selected';}?>>其他</option>
                                </select>
                            </div>
                        </li>
                    </td>
                    <td>
                        <li>
                            <label>
                                居住状况:</label>
                            <div class="vocation">
                                <select name="juzhu">
                                    <option value="">请选择</option>
                                    <option value="kongchao" <?php if($info['juzhu'] == 'kongchao'){echo 'selected';}?>>空巢</option>
                                    <option value="fuqi" <?php if($info['juzhu'] == 'fuqi'){echo 'selected';}?>>夫妻俩</option>
                                    <option value="duju" <?php if($info['juzhu'] == 'duju'){echo 'selected';}?>>独居</option>
                                    <option value="qita" <?php if($info['juzhu'] == 'qita'){echo 'selected';}?>>其他</option>
                                </select>
                            </div>
                        </li>
                    </td>
                    <td>
                        <li>
                            <label>
                                家庭类型:</label>
                            <div class="vocation">
                                <select name="leixing">
                                    <option value="">请选择</option>
                                    <option value="yiban" <?php if($info['leixing'] == 'yiban'){echo 'selected';}?>>一般户</option>
                                    <option value="tekun" <?php if($info['leixing'] == 'tekun'){echo 'selected';}?>>特困户</option>
                                    <option value="youfu" <?php if($info['leixing'] == 'youfu'){echo 'selected';}?>>优抚户</option>
                                </select>
                            </div>
                        </li>
                     </td>
                </tr>
            </table>
        </ul>
      </div>

	  <div class="formbody">
        <ul class="forminfo">
          <table width="0" border="0" align="center">
            <tr>
              <td>
                <li>
                  <label>&nbsp;</label>
                  <input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
              </td>
            </tr>
          </table>
        </ul>
      </div>

   <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=kongchao&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=kongchao&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>