<?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});
     $("select").uedSelect({width: 100});
}); 

    </script>
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="admin.php?c=member&a=heartrate">会员心率记录</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                 
                
                <li>
                    <div class="vocation" style="height:35px;">
<select name="select_search" id="select_search">
	<option  value="">搜索条件</option>
	<option value="name" <?php if($SO['select'] =='name'){echo 'selected';}?>>姓名</option>
	<option value="mobi" <?php if($SO['select'] =='mobi'){echo 'selected';}?>>手机号</option>
</select>
                    </div>
                </li>
                <li>
                    <input name="Tkey" type="text" id="word" value="<?php echo $SO['word'];?>" style="width:200px; height:30px;" />
                </li>
                <li>
                    <input type="submit" name="btn_search" value="搜索" id="btn_search" class="btn" />
                </li>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                   <!-- <th>
                        ID
                    </th>-->
                    <th>
                        姓名
                    </th>
                    <th>
                        手机号
                    </th>
                    
                    <th>
                        心率
                    </th>
                    <th>
                        心率阈值上限
                    </th>
                    <th>
                        心率阈值下限
                    </th>
                    
					<th>
                        时间
                    </th>
                    
                </tr>
            </thead>
            <tbody id="td_showContent">
	<?php 
				foreach($items as $item){
					 
	?>
       <tr>
	<!--<td><?php echo $item['data_id'];?></td>-->
	<td><?php echo $item['name'];?></td>
	<td><?php echo $item['mobile'];?></td>
    
    <td><?php echo $item['heartrate'];?></td>
    <td><?php echo $item['theshold_heartrate_h'];?></td>
	<td><?php echo $item['theshold_heartrate_l'];?></td>
	 <td><?php echo $item['time_begin'] ? $item['time_begin'] : date('Y-m-d H:i:s', $item['dateline']);?></td>
      </tr>
	 <?php 
		}
	?>
            </tbody>
        </table>
        <div class="pagin">
             <?php include(VIEWS.'/common/page.html'); ?>
        </div>
         
    </div>

    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
    </script>


<script>
$("#btn_search").click(function(){
	var select = $("#select_search").val();
	var word = $("#word").val();
	var url = "admin.php?c=member&a=heartrate";
	url += "&select=" + select + "&word=" + word;
	location.href = url;

});
 
</script>
 <?php include(VIEWS.'/common/footer.html'); ?>