<?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({width: 232});
    });
    </script>
 
    <form name="form1" method="post"  >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="#">心理关爱</a></li>
            <li><a href="admin.php?c=volunteer">志愿者</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>志愿者管理</span></div>
        <ul class="forminfo">
            <li>
                <label>
                    志愿者姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /></li>
            <li>
                <label> 性别:</label>
				<div class="vocation">
					<select name="select_sex" id="select_sex">
                      <option value="">请选择</option>
                      <option value="1" <?php if($info['select_sex'] == 1){echo 'selected';}?>>男</option>
                      <option value="2" <?php if($info['select_sex'] == 2){echo 'selected';}?>>女</option>
					</select>
				</div>
			</li>
            <li>
                <label>
                    身份证:</label><input value="<?php echo $info['idcard'];?>" name="idcard" type="text" id="idcard" class="dfinput" /></li>
            <li>
                <label>
                    出生年月:</label>
					<input name="birthday" onClick="WdatePicker({ dateFmt: 'yyyy/MM', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['birthY']>0 ? ($info['birthY'] . '/' . $info['birthM']) : ''; ?>" id="birthday" class="dfinput" />
			</li>
            
            <li>
                <label>
                    电话:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput" /></li>
            <li>
            <li>
                <label>
                    地址:</label><input value="<?php echo $info['address'];?>" name="address" type="text" id="address" class="dfinput" /></li>
            <li>
                <label>
                    单位:</label><input value="<?php echo $info['company'];?>" name="company" type="text" id="company" class="dfinput" /></li>
            
            <li>
                <label>
                    &nbsp;</label><input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
        </ul>
    </div>
    <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写志愿者姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=volunteer&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=volunteer&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>