<?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});
     $("select").uedSelect({width: 100});
}); 

    </script>
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="#">法律援助</a></li>
            <li><a href="admin.php?c=lawyer">律师管理</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li style="padding-right:10px;"><a href="admin.php?c=worker&a=add&from=<?php echo $pagecode;?>"><span>
                    <img src="<?php echo RES_PATH;?>/images/t01.png" /></span>添加</a></li>
                
                <li>
                    <div class="vocation" style="height:35px;">
<select name="select_search" id="select_search">
	<option  value="">搜索条件</option>
	<option value="name" <?php if($SO['select'] =='name'){echo 'selected';}?>>姓名</option>
	<option value="mobi" <?php if($SO['select'] =='mobi'){echo 'selected';}?>>手机号</option>
</select>
                    </div>
                </li>
                <li>
                    <input name="Tkey" type="text" id="word" value="<?php echo $SO['word'];?>" style="width:200px; height:30px;" />
                </li>
                <li>
                    <input type="submit" name="btn_search" value="搜索" id="btn_search" class="btn" />
                </li>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        性别
                    </th>
                    <th>
                        身份证
                    </th>
                    <th>
                        出生年月
                    </th>
                    <th>
                        年龄
                    </th>
                    <th>
                        电话
                    </th>
                    <th>
                        地址
                    </th>
                    
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody id="td_showContent">
	<?php 
				foreach($items as $item){
					$age = '';
					$birth = '';
					if($item['birthY']>0){
						$birth = $item['birthY'] . '/' . $item['birthM'];
						$age = date('Y', __TIME) - $item['birthY'] ;
					}
	?>
       <tr>
	<td><?php echo $item['worker_id'];?></td>
	<td><?php echo $item['name'];?></td>
    <td style=" color:<?php echo empty($item['select_sex'])? '': ($item['select_sex'] == 1 ? 'Green': 'Red');?>;"><?php echo empty($item['select_sex'])?'': ($item['select_sex'] == 1 ? '男': '女');?></td>
    <td><?php echo $item['idcard'];?></td>
    <td><?php echo $birth;?></td>
	<td><?php echo $age;?></td>
    <td><?php echo $item['mobile'];?></td>
    <td><?php echo $item['nowaddress'];?></td>
	<td>
        <a href="admin.php?c=worker&a=edit&id=<?php echo $item['worker_id'];?>&from=<?php echo $pagecode;?>" class="tablelink">修改</a>
		<a href="javascript:void(0);" class="tablelink" onclick="javascript: deleteOne(<?php echo $item['worker_id'];?>);">删除</a>
	</td>
      </tr>
	 <?php 
		}
	?>
            </tbody>
        </table>
        <div class="pagin">
             <?php include(VIEWS.'/common/page.html'); ?>
        </div>
         
    </div>

    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
    </script>


<script>
$("#btn_search").click(function(){
	var select = $("#select_search").val();
	var word = $("#word").val();
	var url = "admin.php?c=lawyer&a=index";
	url += "&select=" + select + "&word=" + word;
	location.href = url;

});

function deleteOne(id){
	if(!confirm('确定要删除吗?')){
		return false;
	}
	var url = location.href;
	var formData = {};
		formData["id"] = id;
	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=worker&a=delone',
			data: formData,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('删除成功!');
					location.href = url;
				} else {
					alert(res.Msg);
				}
			}

		});
}
</script>
 <?php include(VIEWS.'/common/footer.html'); ?>