 <?php include(VIEWS.'/common/header.html'); ?>

<script type="text/javascript">
    $(document).ready(function(e) {
	    $("select").uedSelect({
		    width : 232  
	    });
		$("#service").uedSelect({
		    width : 100  
	    });
    });
    </script>
 
    <form name="form1" method="post" >
 
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">

			<li><a href="admin.php?c=index&a=right">首页</a></li>
            <li><a href="admin.php?c=zhengxie">退休政协委员管理</a></li>

			<li><?php if($id>0){echo '编辑';}else{echo '添加';}?></li>
		  <?php if($frompage){?>
		  <li><a href="<?php echo $frompage; ?>">返回</a></li>
		  <?php }?>

        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span>信息登记</span></div>
        <ul class="forminfo">
        <table>
                <tr>
                    <td>
                        <li>
                            <label>
                    姓名:</label><input value="<?php echo $info['name'];?>" name="name" type="text" id="name" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                    手机号:</label><input value="<?php echo $info['mobile'];?>" name="mobile" type="text" id="mobile" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                    地址:</label><input value="<?php echo $info['address'];?>" name="address" type="text" id="address" class="dfinput" /></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li>
                            <label>
                    民族:</label><input value="<?php echo $info['nation'];?>" name="nation" type="text" id="nation" class="dfinput"  /></li>
                    </td>
                    <td>
                        <li>
                            <label>
                                出生年月:</label>
						<input name="birthday" onClick="WdatePicker({ dateFmt: 'yyyy/MM', onpicked: function() { $(this).trigger('change') }, oncleared: function() { $(this).trigger('change') } })" type="text" value="<?php echo $info['birthY']>0 ? ($info['birthY'] . '/' . $info['birthM']) : ''; ?>" id="birthday" class="dfinput" />
						</li>
                    </td>

					<td>
                        <li>
                            <label>
                    性别:</label>
					<div class="vocation">
                    <select name="select_sex" id="select_sex">
                      <option value="">请选择</option>
                      <option value="1" <?php if($info['select_sex'] == 1){echo 'selected';}?>>男</option>
                      <option value="2" <?php if($info['select_sex'] == 2){echo 'selected';}?>>女</option>
					</select>
                  </div>
				  </li>
                    </td>
                </tr>
                 
                 
         </table>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
          <span>退休政协委员信息登记
		  </span>
		</div>
        <ul class="forminfo" id="other_forminfo">
				<div  class="otherinfo">
          <table>
            <tr>
              <td>
                <li>
                  <label>主要社会职务:</label>
                  <input value="<?php echo $info['zhiwu'];?>" name="zhiwu" type="text"  class="dfinput"  /></li>
              </td>
              <td>
                <li>
                  <label>主要表现:</label>
                  <input value="<?php echo $info['biaoxian'];?>" name="biaoxian" type="text"  class="dfinput"  /></li>
              </td>
              <td>
                <li>
                  <label>主要成就:</label>
                  <input value="<?php echo $info['chengjiu'];?>" name="chengjiu" type="text"  class="dfinput"  /></li>
              </td>
            </tr>
          </table>
		  		  </div>
        </ul>
      </div>

	  <div class="formbody">
        <ul class="forminfo">
          <table width="0" border="0" align="center">
            <tr>
              <td>
                <li>
                  <label>&nbsp;</label>
                  <input name="" type="button" class="btn" value="确认保存" id="submit_btn" /></li>
              </td>
            </tr>
          </table>
        </ul>
      </div>

   <input type="hidden" name="id" id="id" value="<?php echo $id;?>" /> 
    </form>

<script>
var frompage = '<?php echo $frompage;?>';
$("#submit_btn").click(function(){

	var t = $('form').serializeArray();
	var data = {};
	$.each(t, function() {
	    data[this.name] = this.value;
	});

	if(!data['name'] || data['name'] == ''){
		alert("请填写姓名!");
		return;
	}

	jQuery.ajax({
			type: 'post',
			url: 'admin.php?c=zhengxie&a=save',
			data: data,
			dataType: 'json',
			cache: false,
			success: function(res){
				
				if(res.Success){
					alert('操作成功!');
					if(frompage && frompage.length>0){
						location.href = frompage;
						return;
					}
					location.href = 'admin.php?c=zhengxie&a=index';
				} else {
					alert(res.Msg);
				}
			}

		});
});
</script>
<?php include(VIEWS.'/common/footer.html'); ?>